<div class="topHeaderBar" routerLink="/" (click)="viewHeaderDropdown = false">
  <img src="assets/diamond_white.png" alt="diamond image">
</div>

<div style="display:grid; grid-template-columns: 1fr auto;">
  <div class="centerItemsInline">
      <div class="dropdownButton" (click)="viewHeaderDropdown = !viewHeaderDropdown">
        <img src="./assets/menu.png" alt="options menu">
      </div>
      <h1 style="margin:0; font-size: 3em;">MBirch Jewlery</h1>
  </div>

  <div class="centerItemsInline">
    <div class="shoppingContainer" routerLink="/contact" (click)="viewHeaderDropdown = false">
      <img src="./assets/shopping_icon.png" alt="" style="margin:1rem;">
    </div>
  </div>
</div>


<div class="optionsContainer" *ngIf="viewHeaderDropdown">
  <div class="optionBorderEnds"></div>

  <div class="options" routerLink="/" (click)="viewHeaderDropdown = false;">
    <p>Home</p>
  </div>
  <div class="options" routerLink="/earrings" (click)="viewHeaderDropdown = false;">
    <p>Earrings</p>
  </div>
  <div class="options" routerLink="/necklaces-braclets" (click)="viewHeaderDropdown = false;">
    <p>Necklaces and Braclets</p>
  </div>
  <div class="options" routerLink="/comboSets" (click)="viewHeaderDropdown = false;">
    <p>Combo Sets</p>
  </div>
  <div class="options" routerLink="/contact" (click)="viewHeaderDropdown = false;">
    <p>Contact Me to Buy</p>
  </div>
  <!-- <div class="options" routerLink="/all" (click)="viewHeaderDropdown = false;">
    <p>All</p>
  </div> -->

  <div class="optionBorderEnds"></div>
</div>
