.topHeaderBar{
  background-color:#444444;
  text-align:center;
  &:hover{
    cursor:pointer;
  }
}

.centerItemsInline{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdownButton{
  margin:1rem;
  text-align:center;
  background-color:#ccc;
  width:8rem;
  border-radius:0.5rem;
  &:hover{
    cursor:pointer;
  }
}
.shoppingContainer{
  &:hover{
    cursor:pointer;
  }
}

.optionsContainer{
  position:absolute;
  top:4rem;
  background-color: #ccc;
  width:80%;
  margin:0 10%;
}
.options{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  text-align: center;
  font-size: 2rem;
}
.optionBorderEnds{
  height:1px; background-color: black;
}
