<div style="text-align: center;">
  <img src="./assets/shop.jpg" alt="Shop Image" style="width:100%;">

  <p style="font-size: 3rem; margin:0 2rem">Contact Information</p>
  <p style="font-size: 2em; margin:0 10% 3rem;">Hello, I'm Miriam! Send me a message on any items you would like to buy and I'll get back to you.</p>

  <div class="centerItemsInline">
    <img src="./assets/Venmo_logo.png" alt="Venmo Logo" style="width:6rem;">
  </div>
  <p class="text1">MiriamVenmoName</p>

  <div class="centerItemsInline">
    <img src="./assets/facebook-logo.webp" alt="" style="width:6rem;" (click)="goToWebsite('https://www.facebook.com/profile.php?id=61550576530589&mibextid=JRoKGi')">
  </div>
  <p class="text1" style="color:blue; text-decoration: underline;" (click)="goToWebsite('https://www.facebook.com/profile.php?id=61550576530589&mibextid=JRoKGi')">Mbirch Jewelry</p>

  <div class="centerItemsInline">
    <img src="./assets/instagram-logo.webp" alt="" style="width:6rem;" (click)="goToWebsite('https://www.instagram.com/mbirch_jewelry?igsh=OWg3eHduZW9tbWVo&utm_source=qr')">
  </div>
  <p class="text1" style="color:blue; text-decoration: underline;" (click)="goToWebsite('https://www.instagram.com/mbirch_jewelry?igsh=OWg3eHduZW9tbWVo&utm_source=qr')">mbirch_jewelry</p>

  <div class="centerItemsInline">
    <img src="./assets/email_icon.png" alt="" style="width:6rem;">
  </div>
  <p class="text1">miriam.niemand12@gmail.com</p>
</div>

