<div style="background-color:#444444; text-align:center">
  <img src="assets/diamond_white.png" alt="diamond image">
</div>

<div class="centerItemsInline">
    <div style="margin:1rem; text-align:center; background-color:#E1E1E1; width:8rem; border-radius:0.5rem;">
      <img src="./assets/menu.png" alt="options menu">
    </div>
    <h1 style="margin:0;">MBirch Jewlery</h1>
</div>



<div>
  <!-- <img src="https://loremflickr.com/700/300/mountains"> -->
  <!-- <img src="https://unsplash.it/id/500/700/300"> -->
  <img class="imageFullWidth" src="./assets/jewlery_example_1.jpg">
</div>

<div class="centerItemsInline">
  <div class="line1"></div>
  <p class="text1">Most Liked</p>
  <div class="line1"></div>
</div>

<div>
  <img class="imageFullWidth" src="./assets/jewlery_example_2.jpg">
</div>

<!-- Galery -->
<div style="display:grid; grid-template-columns: 1fr 1fr; margin:2rem; gap:2rem;">
  <div>
    <img class="partialImage" src="./assets/jewlery_example_1.jpg">
    <p class="textPrice">$10.00</p>
  </div>
  <img class="partialImage" src="./assets/jewlery_example_2.jpg">

  <img class="partialImage" src="./assets/jewlery_example_2.jpg">
  <img class="partialImage" src="./assets/jewlery_example_1.jpg">
</div>



