<!-- Gallery -->

<div>
  <img class="imageFullWidth" src="./assets/jewlery_example_2.jpg">
</div>

<div class="centerItemsInline">
  <div class="line1"></div>
  <p class="text1">Earrings</p>
  <div class="line1"></div>
</div>

<div style="display:grid; grid-template-columns: 1fr 1fr; margin:2rem; gap:2rem;">
  <div>
    <img class="partialImage" src="./assets/jewlery_example_1.jpg">
    <p class="textPrice">$10.00</p>
  </div>
  <div>
    <img class="partialImage" src="./assets/jewlery_example_2.jpg">
    <p class="textPrice">$10.00</p>
  </div>

  <div>
    <img class="partialImage" src="./assets/jewlery_example_2.jpg">
    <p class="textPrice">$10.00</p>
  </div>
  <div>
    <img class="partialImage" src="./assets/jewlery_example_1.jpg">
    <p class="textPrice">$10.00</p>
  </div>

  <div>
    <img class="partialImage" src="./assets/jewlery_example_1.jpg">
    <p class="textPrice">$10.00</p>
  </div>
  <div>
    <img class="partialImage" src="./assets/jewlery_example_2.jpg">
    <p class="textPrice">$10.00</p>
  </div>
</div>
